.weather-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.card-body span {
  color: #efefdc;
  padding: 1.5px;
}

@media screen and (max-width: 414px) {
  .weather-card-container {
    width: 50%;
    margin-bottom: 30px;
  }

  .card-body {
    margin-top: 15px;
  }
}
